:root {
  --red: rgb(248, 34, 15);
}
body {
  text-align: center;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.marca {
  color: var(--red);
}
.container {
  max-width: 83%;
  height: 600px;
  margin: 10px auto;
  overflow: hidden;
}
#valor {
  color: var(--red);
}
@media screen and (min-width: 835px) {
  .description {
    display: flex;
    justify-content: space-around;
  }
}
